{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<!-- a partir de aca abajo se escribe el contenido del template -->
<div class="container">

    <div style="float: right;">

        {% include "carro/widget.html" %}

    </div>


    <div class="row">

        {% for producto in productos %}

        <div class="col-md-3">
            <div class="card" style="width: 100%;; margin: 5px 5px;">

                <img class="card-img-top" src="{{producto.imagen.url}}">
                <div class="card-body" style="text-align: center;">

                    <h6 class="card-title"> {{producto.nombre}} </h6>

                    <p class="card-text"> {{producto.precio}}&nbsp;$</p>

                </div>


                <div class="card-footer text-center">

                    <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>
                </div>
            </div>
            <!--card que se cierrra-->
        </div>

        {% endfor %}
    </div>
</div>




{% endblock %}